<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
          <div class="col-sm-3 sidenav">
            <h4 class="text-center">Admin</h4>
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a class="text-center" href="/dashbord">Home</a></li>
              <li><a class="text-center" href="/dashbord/card">Card</a></li>
              <li><a class="text-center" href="/dashbord/dashItineraire">Itinéraires</a></li>
            </ul><br>
          </div>
      
          <div class="col-sm-9">
            <h4 class="text-center"><small>Dashbord</small></h4>
            <hr>
            <p class="text-center">Bienvenu sur le panel Admin </p>
            <p class="text-center principal"> Ici vous pourrez changer le contenu du site via les onglets card et itinéaires </p>
      </div>

</body>
</html>
