
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    




<h1>Afrique du Sud</h1>

<h2>Pays aux mille facette et terre de contraste et d'aventure,c'est la destination idéale pour les amoureux de la nature et
    des animaux... Sagéographie est tout simplement execptionelle. Entre les grand espaces, montagnes déserts, parcs nationaux,
    réserve naturelles et plage de rêve, l'Afrique du Sud offre une grande diversité de paysage d'une beauté sans pareille</h2>

<h1>lieux a visitée</h1>

<h1>l'Université du Cap</h1>

<h2>L'université du Cap "en anglais, University of Cape Town UCT"
    <br> Une université publique sud-africaine, située dans la provence du Cap-Occidental.
    <br> Elle est la plus ancienne université de ce pays, fondée en 1829 sous le nom de South African college.</h2>

<h1>l'Univerité de Witwatersrand
    <small>Johannesburg</small>
</h1>

<h2>l'Univerité est surnommée "Wits" mais se pronomce "vits".Elle est la plus importante et prestigieuse université d'Afrique
    du Sud.Université de langue anglaise, elle avais la particularité durant la période d'apartheid d'accueillir également
    des étudiants noirs en limité.Elle fut la premiere université à être déségréguée.</h2>

<h1>l'Université Rhodes
    <small>Grahamstown</small>
</h1>

<h2>Son nom est un hommage à Cécil Rhodes, homme d'affaires, ancien premier misnitre de la Colonie du Cap et fondateur de la
    Rhodésie</h2>

<h1>Sasol Limited
    <small>Johannesburg</small>
</h1>

<h2>Sasol est une entreprise de l'industrie chimique, spécialisée dans la transfomation de charbon et de gar naturel en hydrocarbures
    liquides selon le procédé Fischer-Tropsh.
    <br> C'est la deuxieme entresprise d'Afrique du Sud Derrière Old Mutual et la troisieme entreprise</h2>

<h1>Shoprite Group</h1>

<h2>Elle est la plus grande chaîne de magasins en Afriqueavec plus de 1000 supermarchés Shoprite Hyper dans 18 pays à travers
    l'Afrique et les îles de l'océan Indien.</h2>

<h1>MTN Group</h1>

<h2>Une multinationale sud-africaine qui exerce dans les domaines des télécommunications. Elle a été fondée en 1994 et est présente
    dans 22 pays.</h2>

<h1>Montage de la Table </h1>

<h2>Son nom provient de sa forme qui, de loin resemble aussi plate que le dessus d'une table. Lorsque les nuages q'y accrochent,
    on dit que la "nappe" est mise.
    <br> Elle se trouve au nord de la péninsule du Cap qui est elle même terminée au sud par le capt de Bonne-Esperance.</h2>

<h1>Robben island</h1>

<h2>Son nom d' "iles aux phoques" provient du fais qu il y a un grand nombre de ces manimifères dans les eaux entourant l'ile.
    <br> Robben island a été utilisée comme prison, léprosie, hôpital psychiatrique e poste militaire de défence. Au XXeme siècle,
    les opposants noirs au régile d'apartheid, condamnés à de longues peines, y furent internés dont natament trois futur
    présidents sud-africain " Nelson Mandela, Kgalema Motlanthe et Jacob Zuma.</h2>

<h1>Park National Kruger</h1>

<h2>les parcs nationaux et réserves privées sont nombreux mais le meilleur endroit pour partir à la recherche des grand fauves
    est le parc Kruuger. En effet, situé au Nord Est du pays, grand comme la Bretagne, il est doté d'une fauve impressionnante
    et vous êtes alors quasi certains d'apercevoir les animeaux les plus emblématiques de l'Afrique</h2>

</body>

</html>