<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>   



<h1>Les Etats Unis d'Amerique</h1>

<h2>Fruit de la diversité culturelle et ethnique, les Etats-Unis restent le pays du contraste et du paradoxe</h2>

<h1>l'Univeritéde Californie,Los Angeles</h1>

<h2>Une des vingt premiere université de l'Amerique, UCLA est la mère de l'internet lorque en 1969, une transmition APRANET est
    envoyée du campus à San Francisco Menlon Park</h2>

<h1>l'Université de New York</h1>

<h2>fondée en 1831 NYU est un université privée de recherches.Basé au coeur de New York, à Manhattan, son Alumi inclus les présidents,
    inventeur, les PDG de 500 grand entreprise et des astronautes</h2>

<h1>L'Université de Columbia</h1>

<h2>Fondée en 1754, elle est l'un des plus anciens établisement suprérieur aux Etats- Unis et fait partie du groupe del'Ivy League
    regroupant les huits univertiqtée les plus ancienne et les plu célèbres dy pays.
    <br>le 18eme université du monde, elle est dans les 10 premiere université de l'Amerique. Barack Obama est son Alumni ainsi
    que beaucoup d'auters célèbres personnages . </h2>

<h1>IBM</h1>

<h2>International Business Machines Corporation, connue sous l'abrévation IBM , est une société multinationale américaine présente
    dans les domaine du matériel informatique, du loficiel et des services informatique dans plus de 170 pays. On lui prête
    le surnom de Big Blue en reference au bleu sombre, couleur longtemps associée a l'entreprise.</h2>

<h1>Marvel's Comics</h1>

<h2>Plus communément appelé Marvel's comics ou Marvel, est une subdivision de Marvel Entreprise et l'une des principales maison
    d'édition américaines de bande dessinées appelées comc books.
    <br> En 2009, The walt Disney Compagny rachéte Marvel Entrainement pour 4 miliards de dollars (soit 2.8 miliards d'euros.)
</h2>

<H1>20TH Century Fox</H1>

<h2>20th Century Fox Film Coporation ou 20th Century Fox (anciennement Twentieth Century-Fox Film Coporation) est l'une des plus
    grandes sociétés de production cinématographique.
    <br> Le siège du studio hollywoodien est situé à Century City, un quatier de Los Angelesà l'ouest de Beverly Hills,en Californie
    et jouxte un studio de production Fox Studios.</h2>

<h1>La statue de la Liberté</h1>

<h2>Elle est l'un des monuments les plus célèbres des Etats-Unis. Cette statue momumentale est située à New York, sur l'ile Liberty
    Island, au sud de Manhattan. Elle fut construite en France et offerte par le peuple francais, en signe d'amitié entre
    les deux nations, pour célèbrer le centenaire de la Déclaration d'indépendance américaine.</h2>

<h1>Les banlieues de Los Angeles</h1>

<h2>L'attraction en Californie est souvent associé à l'industrie du film glamour.
    <br> le signe du Hollywood, Hollywood boulevard, le walk of fame et le théâtre chinois peut compléter 2jour de visite et
    si on as de la chance rencontrer deuxou trois stars.</h2>

</body>
</html>