
<div class="copyright">
<p class="">&copy; Simplon 2017</p>
</div>

<div class="mleg">
<a href="/mentionslegales">Mentions Légales </a>
</div>

<div class="icons">
<a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>

<a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>

<a href="#"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
</div>