
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

<h1>Londre</h1>

<h2>La chance de voir quelques universitées qu'on trouve dans les listes de meilleurs écoles du monde comme le UCL, Univerité
    de Cambrige, l'université d'Oxford, et bien d'autres...</h2>


<h1>lieux a visitée</h1>

<h2>l'Universtié de Cambrige</h2>

<h2>Etant la 5 eme meilleure université du monde, ele a été fondé en 1209, la mettant dans l'une des plus ancienne au monde.</br>
    Aujourd'hui , il a plus de 16,000 étudiants. </h2>


<h1>L'Universtiéd'Oxford</h1>

<h2>la plus ancienne université dans le monde Anglo-Saxon, l'université d'Oxford a produit beaucoup d'anciens élèves a succès,compatant
    30 Leaders international, 27 Premier Minitres, 50 gagnants de prix nobel, ainsi que d'autres personnages reconnues comme
    Stephen Hawking</h2>


<h1>Univerité College de Londres</h1>

<h2>Pendant 3abs de suite, l'UCL est la premiere université de Londres.Grace a sa nationalité dans ces campus, il se prénomme
    "L'université Global" avec plus de 15 500 de ces 38 900 étudiants venants de l'exterieur du Royaume-Unis.</h2>

<h1>HSBC
    <small>Hongkong and Shangai Banking Corpoation</small>
</h1>

<h2>Avec leurs branches dans plusieurs pays du mondel'entreprise emploie plus de 260 000 employées et sa valeur en 2015 était
    de 531 bilions de dollars</h2>

<h1>Unilever</h1>

<h2>L'entreprise a été fondée en 1930 après une immersion entre le beurre allemand et la magarine avec un producteur savon anglais.Producteur
    de "Axe, Lipton, Rexona, Dove, Knorr". l'Entreprise a en total 400 marques aujourd'hui 170 000 employéesdans le monde,
    l'entreprisea eu un profit de 505 bilion de dollers en 2015.</h2>

<h1>BT
    <small>British Telecominication group</small>
</h1>

<h2>BT Group opère dans plus de 170 pays globalement avec plus de 88 500 employées. Avec un revenu de 17.8 bilions de pound et
    3.7 bilions de profit il est l'une des entreprise les plus reconnues et respectées dans le monde de télécommunication</h2>

<h1>Warner Bros Studio</h1>

<h2>Venez vivre un journée magique dans les coulisses dans films de Harry Potter aux studios de la Warner Bros. Ainsi que d'auters
    lieux de tournage, les plateaux, les costumes et les accessoires utilises dans les films. </h2>

<h1>le Plais de Buckingham</h1>

<h2>Derrière sa façade impressionante se cachent quelques 750 pièces, certaines d'entre elles servent de salles de réception
    pour les grandes occasions. Buckingham est aussi le site où la Relève de la Garde est la plus populaire de toutes les
    résidences royales.</h2>

<h1>le London eye</h1>

<h2>Ouvert au public depuis mars 2000, le London Eye, aussi connu sous le nom de la grande roue du millénaire, est l'une des
    attractions payantes les plus fréquentées du Royaume-Uni.La raison est évidentes : avec ses vues à 360 degrès depuis
    les 32 cabines, le London Eye vous offre ce que beaucoup considerent comme le plus panorama de Londres</h2>

</body>
</html>
