<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Asap+Condensed|Great+Vibes|Satisfy" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="carte">
                        <img src="images/newYork.jpg" alt="">
                        <div class="ville">
                            <h1>New-York</h1>
                        </div>
                        <div class="date">
                            <h3>Voyage de 30 jours !</h3>
                            <p>-13 janvier 2018 au 23 frevrier 2018-</p>
                        </div>
                        <div class="Détails">
                            <p>Un voyage aux Etats-Unis, c’est d’abord découvrir New York, capitale culturelle de la côte Est,
                                ville bouillonnante sans cesse renouvelée.  </p>
                        </div>
                
                        <p><button class="propos">Détails</button></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="carte">
                        <img src="images/london.jpg" alt="">
                        <div class="ville">
                            <h1>Londres</h1>
                        </div>
                        <div class="date">
                            <h3>Voyage de 30 jours !</h3>
                            <p>-13 janvier 2018 au 23 frevrier 2018-</p>
                        </div>
                        <div class="Détails">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed quasi autem </p>
                        </div>
                    
                        <p><button class="propos">Détails</button></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="carte">
                        <img src="images/china.jpg" alt="">
                        <div class="ville">
                            <h1>Chine</h1>
                        </div>
                        <div class="date">
                            <h3>Voyage de 18 jours !</h3>
                            <p>-23 Fevrier 2018 au 14 Mars 2018-</p>
                        </div>
                        <div class="Détails">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed quasi autem </p>
                        </div>
                       

                        <p><button class="propos">Détails</button></p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="carte">
                        <img src="images/australia.jpg" alt="">
                        <div class="ville">
                            <h1>Australie</h1>
                        </div>
                        <div class="date">
                            <h3>Voyage de 30 jours !</h3>
                            <p>-13 janvier 2018 au 23 frevrier 2018-</p>
                        </div>
                        <div class="Détails">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed quasi autem Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed quasi autemLorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed quasi autem</p>
                           
                                
                        </div>
                        
                        <p><button class="propos">Détails</button></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="carte">
                        <img src="images/monaco.jpg" alt="">
                        <div class="ville">
                            <h1>Monaco</h1>
                        </div>
                        <div class="date">
                            <h3>Voyage de 20 jours !</h3>
                            <p>2 mars 2018 au 24 mars 2018</p>
                        </div>
                        <div class="Détails">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sed quasi autem </p>                            
                        </div>
                        
                        <p><button class="propos">Détails</button></p>
                    </div>
                </div>
            </div>
                
        </div>

</body>
</html>