<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<form class="form-vertical" role="form" method="post" action="https://script.google.com/macros/s/AKfycbxnaBNuLVdoDqZTZaIiJY83OvwKZIT1EPAQ5pjR_rqdzujYyEo/exec">

<div class="form-group">
        <div class="col-md-3 text-center formemail">
            <label for="mail">Nom et prénom</label>
            <input class="form-control input-sm" name="name" id="name" type="name" value="" required placeholder="Entrer votre nom et prénom">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-center formemail">
            <label for="mail">Mail</label>
            <input class="form-control input-sm" name="email" id="email" type="email" value="" required placeholder="Entrer votre mail">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3 text-center formsub">
            <label for="subject">Sujet</label>
            <input class="form-control input-sm" name="subject" id="subject" type="text" value="" required placeholder="Entrer l'objet de mail">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 text-center formmsg">
            <label for="message">Votre message</label>
            <textarea class="form-control input-sm" name="message" id="message" rows="5" value="" required placeholder="Entrer votre message"></textarea>
        </div>
    </div>

    <div class="col-md-12 text-center formctc ">
      <button class="btn btn-success " type="submit" id="submit">Envoyez</button>
    </div>
</form>