<head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

<div class="container">
<h1 text-center>Votre element a bien etais supprimé</h1>
<a href="/dashbord/card" class="btn btn-danger btn-lg text-center">Retour au panel admin</a>
</div>